<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/page-traliers-style.css"  type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>BEYAZPERDE</title>
</head>
<body>
    <main class="main-page-design" style="height:auto !important ;">
    <section class="p-5">
        <form action="">
            <h1>Add a New Movie</h1>
    <form action="/addMovie" method="POST">
        <input type="text" name="title" placeholder="Movie Title">
        <input  type="text" name="url" placeholder="Movie URL">
        <input type="submit" value="Upload">
    </form>
        </form>
    </section>
    </main>
</body>
</html>