<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/page-traliers-style.css"  type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>BEYAZPERDE</title>
</head>
<body>
    <main class="main-page-design" style="height:auto !important ;">
        <section>
            <h2 class="p-2">Film Düzenleme Sayfası</h2>
        </section>
        <section>
            <form action="/admin_traliers" class="p-2" method="post">
                <label for="">Fotoğraf url:</label>
                <input type="text" name="posterurl" id="" placeholder="url">
                <label for="">Başlık:</label>
                <input type="text" name="title">
                <input type="submit" name="" id="" value="Ekle">
            </form>
        </section>
    <section class="p-5">
        <% movies.forEach(movie => { %>
            <div class="p-2">
            <div class="card">
                <div class="card-header">
                  Film
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%=movie.title %></h5>
                  <p class="card-text"><%=movie.posterurl %></p>
                  <a href="/admin_traliers/edit/<%= movie._id %>" class="btn btn-primary">Düzenle</a>
                  <button class="btn btn-danger" onclick="deleteMovie('<%= movie._id %>')">Sil</button>
                </div>
              </div></div>
       <% }) %>
    </section>
    <script>
//         const del = document.querySelectorAll('a.del');
//         console.log(del)
//         const delLinks =[].slice.call(del)
//         console.log(delLinks)
//         delLinks.forEach((item,i) => {
//           item.addEventListener("click", (e) => {// ObjectId olarak kabul edilen bir değer alınır
//   const endpoint = '/admin_traliers/${item.dataset.doc}';
//   fetch(endpoint, {
//     method: 'DELETE'
//   })
//   .then((response) => response.json())
//   .then((data) => window.location.href = data.link)
//   .catch((err) => {
//     console.log(err);
//   });
// });
//         });
// del.addEventListener("click", (e) => {
//   const id = del.dataset.doc; // ObjectId olarak kabul edilen bir değer alınır
//   const endpoint = '/admin_traliers/delete/${del.dataset.doc}';
//   fetch(endpoint, {
//     method: 'DELETE'
//   })
//   .then((response) => response.json())
//   .then((data) => window.location.href = data.link)
//   .catch((err) => {
//     console.log(err);
//   });
// });
function deleteMovie(id) {
      fetch(`/admin_traliers/delete/${id}`, {
        method: 'DELETE'
      })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        // Sayfayı yenilemek ve diğer işlemler
        window.location.reload();
    window.location.href = '/admin_traliers';
      })
      .catch((err) => {
        console.log(err);
      });
    }
    </script>
    </main>
</body>
</html>