* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.decoration-style a{
    text-decoration: none;
    color: grey;
    font-size: 0.75rem;
    transition: font-size 0.5s, color 0.5s,text-shadow 0.5s;
}
.decoration-style a:hover{
    font-size: 1rem;
    color: white;
    text-shadow:2px 2px 5px black;
}
.custom-toggler.navbar-toggler {
    border-color: grey;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.video-of-tralier{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-of-tralier iframe{
    width: auto;
    height: 300px;
    margin: 1rem auto;
}
.tralier-name h4{
    font-size: 1.25rem;
}
.comments-info{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid black;
}
.social-media-connect{
    display: flex;
}
.social-media-connect i{
    font-size:1.75rem ;
}
.user-info{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.user-info i{
    font-size: 1.75rem;
}
.comments-info i{
    font-size: 1.25rem;
}
.btn-design{
    width: 150px;
}
.form-control1{
    height: 300px;
}
@media (max-width:576px) {
    .video-of-tralier iframe{
        width: 300px;
       
    }
    .grid-xs-1{
        grid-template-columns: repeat(1,1fr);
    }
    .video-card-row .thumbnail {
        float: left;
        width: 200px;
        margin-right: .9375rem
    }
    .video-card-row .meta-title-link{
        font-size: 0.625rem;
    }
    
 }
 @media screen and (min-width: 576px) and (max-width:992px) {
    .video-of-tralier iframe{
        width: 500px;
    }
 }
 @media (min-width:992px) {
    .video-of-tralier iframe{
        width: 900px;
    }
    .tralier-name h3{
        font-size: 1.5rem;
    }
    .gd-m-2{
        grid-template-columns: repeat(2,1fr);
    }
 }
.gd-m-1{
    grid-template-rows:repeat(1,1fr) ;
}
.video-card-row .thumbnail {
    float: left;
    width: 300px;
    margin-right: .9375rem
}

.video-card-col .meta,
.video-card-row .meta {
    overflow: hidden
}
.Iframe_design{
    width: 100%;
    height: 450px;
    background-color: #f2f2f2;
}
.avatar{
    border: 2px solid red;
    border-radius: 50%;
    background: url(https://media.istockphoto.com/id/1143511824/tr/vekt%C3%B6r/erkek-avatar-simgesi-veya-portre-yak%C4%B1%C5%9F%C4%B1kl%C4%B1-gen%C3%A7-adam-sakal-ile-y%C3%BCz-vekt%C3%B6r-illustration.jpg?s=170667a&w=0&k=20&c=I4CFnwd1KcJuRuVXclCN5X9GalOK6P1LMh3Ztf6b7RM=);
    background-repeat: no-repeat;
  background-size: contain, cover;
}
